.container {
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
	padding-top: 50px;
}

h1 {
	font-size: 3em;
	margin-bottom: 30px;
}

form {
	margin-bottom: 50px;
}

label {
	font-size: 1.5em;
	margin-right: 20px;
}

input[type="text"] {
	padding: 10px;
	font-size: 1.5em;
	border-radius: 5px;
	border: 1px solid #ccc;
}

button[type="submit"] {
	padding: 10px 20px;
	font-size: 1.5em;
	background-color: #008CBA;
	color: #fff;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

#result {
	font-size: 1.5em;
}
